body{
    margin: 0px;
    padding: 0px;
}

.header-img{
    height: 400px;
}

.page-title{
    background-color: rgb(228, 30, 40);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}